{{- if eq .chezmoi.os "windows" -}}
    {{ $scoopBucket := .packages.bucket}}
    {{ range $scoopBucket -}}
    scoop bucket add {{ . | quote }}
    scoop config aria2-warning-enabled false
    {{ end -}}
    {{ $scoopPackages := .packages.scoop }}
    {{ range concat $scoopPackages.self $scoopPackages.terminal $scoopPackages.font $scoopPackages.editor $scoopPackages.tools $scoopPackages.pkgmanage}}
    scoop install {{ . | quote }}
    {{ end -}}
{{- end -}}
